<html>
<head>
  <script type="text/javascript">
  $(document).ready(function(){
    var perform = document.getElementById('pkaName1');
    var legal = document.getElementById('legalName');
    var first = document.getElementById('firstName1');
    var last = document.getElementById('lastName1');

    function fillPerform(){
      first = document.getElementById('firstName1');
      last = document.getElementById('lastName1');
      perform.value=first.value+" "+last.value;
      legal.value=first.value+" "+last.value;
    }
    first.addEventListener('input',fillPerform);
    last.addEventListener('input',fillPerform);

    var sameAddressCheck = document.getElementById('addressChecker');

    function fillAddress(){
      console.log("calling fillAddress");
      if(sameAddressCheck.checked){
        console.log("the box is checked");
    var line1original = document.getElementById('line1original').value;
    var line2original = document.getElementById('line2original').value;
    var cityoriginal = document.getElementById('cityoriginal').value;
    var stateoriginal = document.getElementById('stateoriginal').value;
    var ziporiginal = document.getElementById('ziporiginal').value;
    var countryoriginal = document.getElementById('countryoriginal').value;

    var line1tax = document.getElementById('line1tax');
    var line2tax = document.getElementById('line2tax');
    var citytax = document.getElementById('citytax');
    var statetax = document.getElementById('statetax');
    var ziptax = document.getElementById('ziptax');
    var countrytax = document.getElementById('countrytax');

    line1tax.value = line1original;
    line2tax.value = line2original;
    citytax.value = cityoriginal;
    statetax.value = stateoriginal;
    ziptax.value = ziporiginal;
    countrytax.value = countryoriginal;

    }
  }
    sameAddressCheck.addEventListener('change',fillAddress);
  })
  </script>
</head>
<body>
 
<div class="container">
   <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#artist" aria-controls="artist" role="tab" data-toggle="tab">Artist Info</a></li>
    <li role="presentation"><a href="#payment" aria-controls="payment" role="tab" data-toggle="tab">Payment Info</a></li>
    <li role="presentation"><a href="#website" aria-controls="website" role="tab" data-toggle="tab">Website Profile</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Artist Profile</a></li>
    <li role="presentation"><a href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="artist">

      <form action="/client/create" enctype="multipart/form-data" method="post">

  <legend>Name Details</legend>
        <div class="row">
  <div class="form-group">
    <div class="col-sm-3">
      <label for="inputName1">First Name</label>
      <input type="text" class="form-control" id="firstName1" name="name" placeholder="First name">
    </div>
    <div class="col-sm-3">
      <label for="inputName1">Last Name</label>
      <input type="text" class="form-control" id="lastName1" name="name" placeholder="Last name">
    </div>
    <div class="col-sm-3">
      <label for="inputName1">Performs as</label>
      <input type="text" class="form-control" id="pkaName1" name="name" placeholder="Enter name">
  </div>
  <div class="checkbox col-sm-3">
    <label>
      <input type="checkbox"> Controlled?
    </label>
  </div><br>
</div> <!--Close form-group for Name --><br>
</div> <!-- Close this row -->
<br>
  <legend>Band Details</legend>
<div class="row">
  <div class="checkbox col-sm-3">
    <label>
      <input type="checkbox"> Part of a Band?
    </label>
  </div>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="bandName1" name="bandName" placeholder="Band name">
    </div>

</div> <!-- Close row for band info -->

  <legend>PRO Details</legend>
  <div class="row">
    <div class="col-sm-3">
    <div class="radio">
  <label>
    <input type="radio" name="proRadios" id="optionsRadios1" value="ascap" checked>
    ASCAP
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="proRadios" id="optionsRadios2" value="bmi">
    BMI
  </label>
</div>
<div class="radio">
  <label>
    <input type="radio" name="proRadios" id="optionsRadios3" value="sesac">
    SESAC
  </label>
</div>
</div>
    <div class="col-sm-3">
      <label for="inputCAE1">CAE/IPI #</label>
      <input type="text" class="form-control" id="artistCAE" name="cae" placeholder="CAE/IPI">
    </div>
    <div class="col-sm-3">
      <label for="inputName1">Publisher Name</label>
      <input type="text" class="form-control" id="publisherName1" name="publisher" placeholder="Publisher name">
    </div>
    <div class="col-sm-3">
      <label for="inputName1">Publisher CAE/IPI</label>
      <input type="text" class="form-control" id="publisherCAE" name="cae2" placeholder="CAE/IPI">
    </div>

  </div> <!-- Close row for PRO details -->
    <div class="checkbox col-sm-offset-6 col-sm-3">
    <label>
      <input type="checkbox"> Controlled?
    </label>
    </div><br>

  <legend>Contact Details</legend>
<div class="row">
  <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Client Email</label>
      <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail1" name="email" placeholder="Enter email">
      </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Phone Number</label>
      <div class="col-sm-10">
      <input type="tel" class="form-control" id="inputPhone1" name="phone" placeholder="XXX XXX-XXXX">
      </div>
  </div>
</div><!-- close row for email and phone --><br>
  <fieldset>
  <!-- Form Name -->
  <!-- Text input-->
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 1</label>
  <div class="col-sm-10">
  <input type="text" placeholder="Address Line 1" class="form-control" id="line1original">
  </div>
  </div>

  <!-- Text input-->
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 2</label>
 <div class="col-sm-10">
  <input type="text" placeholder="Address Line 2" class="form-control" id="line2original">
 </div>
 </div>

 <!-- Text input-->
  <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">City</label>
  <div class="col-sm-10">
 <input type="text" placeholder="City" class="form-control" id="cityoriginal">
  </div>
  </div>
<!-- Text input-->
<div class="form-group">
 <label class="col-sm-2 control-label" for="textinput">State</label>
<div class="col-sm-4">
<input type="text" placeholder="State" class="form-control" id="stateoriginal">
</div>
<label class="col-sm-2 control-label" for="textinput">Postcode</label>
<div class="col-sm-4">
<input type="text" placeholder="Post Code" class="form-control" id="ziporiginal">
</div>
</div>
<!-- Text input-->
<div class="form-group">
<label class="col-sm-2 control-label" for="textinput">Country</label>
<div class="col-sm-10">
<input type="text" placeholder="Country" class="form-control" id="countryoriginal">
</div>
</div><br>
        <div class="row">
<div class="col-sm-3">
<p>Should anyone else receive all communications to the client? This includes access to statements.</p>
</div>
  <div class="form-group">
    <div class="col-sm-3">
      <label for="inputName2">First Name</label>
      <input type="text" class="form-control" id="firstName2" name="CCname" placeholder="First name">
    </div>
    <div class="col-sm-3">
      <label for="inputName2">Last Name</label>
      <input type="text" class="form-control" id="lastName2" name="CCname" placeholder="Last name">
    </div>
    <div class="col-sm-3">
      <label for="inputName1">Email Address</label>
      <input type="text" class="form-control" id="CCemail" name="CCname" placeholder="CarbonCopy@example.com">
  </div><br>
</div> <!--Close form-group for CC --><br><br>
</div> <!-- Close this row -->
</fieldset>
<label class="radio-inline">
  <input type="radio" id="digital1" name="digitalStatements" value="1" checked="checked">Digital statements
</label>
<label class="radio-inline">
  <input type="radio" id="digital2" name="digitalStatements" value="0">Paper statements
</label></br>
  <legend>Client Rep</legend>
    <div class="col-sm-3">
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep1" value="adam">
    Adam
  </label>
</div>
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep2" value="alex">
    Alex
  </label>
</div>
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep3" value="dan">
    Dan
  </label>
</div>
    </div><div class="col-sm-3">
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep4" value="erin">
    Erin
  </label>
</div>
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep5" value="mara">
    Mara
  </label>
</div>
    <div class="radio">
  <label>
    <input type="radio" name="clientRep" id="clientRep6" value="melissa">
    Melissa
  </label>
</div><br>
</div>
<div class="row">
  <div class="form-group">
    <div class="col-sm-3">
      <label for="inputStart1">Start Date</label>
      <input type="date" class="form-control" id="startDate" name="dates" placeholder="MM/DD/YYY">
    </div>
    <div class="col-sm-3">
      <label for="inputEnd1">End Date</label>
      <input type="date" class="form-control" id="endDate" name="dates" placeholder="MM/DD/YYYY">
    </div><br>
</div>

</div>
<div class="row">
  <button type="submit" class="btn btn-default">Submit</button>
</div>

</form>
    </div> <!--close tabpanel for artist -->


    <div role="tabpanel" class="tab-pane" id="payment">
<legend>Tax Details</legend>
<label class="radio-inline">
  <input type="radio" id="usa" name="entity" value="usa" checked>Domestic Person or Entity
</label>
<label class="radio-inline">
  <input type="radio" id="exusap" name="entity" value="exusap">Foreign Person
</label>
<label class="radio-inline">
  <input type="radio" id="exusae" name="entity" value="exusac">Foreign Entity
</label>
<div id="w9">
<legend>W9 Details</legend>
<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Legal Name</label>
  <div class="col-sm-10">
  <input type="text" placeholder="Legal Name" class="form-control" id="legalName">
  </div>
  </div>
  <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Business Name</label>
  <div class="col-sm-10">
  <input type="text" placeholder="Business Name" class="form-control" id="businessName">
  </div>
  </div>
  <!-- Form Name -->
  <!-- Text input-->

  <label class="col-sm-3 control-label" for="textinput">Tax Address</label>
  <div class="checkbox col-sm-12">
    <label>
      <input type="checkbox" id="addressChecker"> Same as mailing address?
    </label>
  </div>
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 1</label>
  <div class="col-sm-10">
  <input type="text" placeholder="Address Line 1" class="form-control" id="line1tax">
  </div>
  </div>

  <!-- Text input-->
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 2</label>
 <div class="col-sm-10">
  <input type="text" placeholder="Address Line 2" class="form-control" id="line2tax">
 </div>
 </div>

 <!-- Text input-->
  <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">City</label>
  <div class="col-sm-10">
 <input type="text" placeholder="City" class="form-control" id="citytax">
  </div>
  </div>
<!-- Text input-->
<div class="form-group">
 <label class="col-sm-2 control-label" for="textinput">State</label>
<div class="col-sm-4">
<input type="text" placeholder="State" class="form-control" id="statetax">
</div>
<label class="col-sm-2 control-label" for="textinput">Postcode</label>
<div class="col-sm-4">
<input type="text" placeholder="Post Code" class="form-control" id="ziptax">
</div>
</div>
<!-- Text input-->
<div class="form-group">
<label class="col-sm-2 control-label" for="textinput">Country</label>
<div class="col-sm-10">
<input type="text" placeholder="Country" class="form-control" id="countrytax">
</div>
</div><br>
  <div class="form-group">
    <label for="w9Form">Upload Form W9</label>
    <input type="file" id="w9Form">
    <p class="help-block">It will be stored securely.</p>
  </div>
</div> <!-- Closing the W9 div -->
<legend>Payment Details</legend>
<label class="radio-inline">
  <input type="radio" id="deposit1" name="directDeposits" value="1" checked="checked">Direct Deposit
</label>
<label class="radio-inline">
  <input type="radio" id="deposit2" name="directDeposits" value="0">Paper Checks
</label>
<div id="directDepositDiv">
<div class="form-group">
  <label for="ddPayeeName">Payee Name</label>
  <input type="text" class="form-control" id="payeeName" placeholder="Payee Name">
</div>
<div class="form-group">
  <label for="routingNumber">Routing Number</label>
  <input type="text" class="form-control" id="routingNum" placeholder="Routing Number">
</div>
<div class="form-group">
  <label for="accountNumber">Account Number</label>
  <input type="text" class="form-control" id="accountNum" placeholder="Account Number">
</div>
<div class="form-group">
  <label for="bankName">Bank Name</label>
  <input type="text" class="form-control" id="bankName" placeholder="Bank Name">
</div>
<label class="radio-inline">
  <input type="radio" id="checking" name="typeOfAccount" value="1">Checking
</label>
<label class="radio-inline">
  <input type="radio" id="savings" name="typeOfAccount" value="0">Savings
</label>
<div class="form-group">
  <input type="file" id="attachmentUpload1">
  <p class="help-block">Upload the Direct Deposit agreement.</p>
</div>
</div> <!-- close directDepositDiv -->
<div id="checkDetailsDiv" class="hidden">
  <div class="form-group">
    <label for="checkPayeeName">Payee Name</label>
    <input type="text" class="form-control" id="checkPayeeName" placeholder="Payee Name">
  </div>
  <label class="checkbox-inline">
    <input type="checkbox" id="sameAddress1" value="1" checked>Same address as above
  </label>
<div id="checkAddressDiv" class="hidden">

    </div> <!--Close the checkAddressDiv -->
  </div> <!--Close the checkDetailsDiv-->

</div> <!--Close the payment tab div -->

    <div role="tabpanel" class="tab-pane" id="website">This is where I put the Website Profile</div>
    <div role="tabpanel" class="tab-pane" id="profile">This is where I put the Artist Profile that we recently added to our other website.</div>
    <div role="tabpanel" class="tab-pane" id="notes">This is where I put the notes</div>
</div>
</div>
</body>
</html>