<html>
<head>
</head>
<body>
<div class="city-details">
  <h2>New York</h2>
  <div class="event-details" id="new-york-events">
    <ul>
    <p><% artists %><p>
    <% for(i=0;i<artists.length;i++){ %>
      <li><%= artists[i] %></li>
    <%  }  %>
    </ul>
  </div>
</div>
</body>