<html>
<head>
  <script src="id3.min.js"></script>
  <script type="text/javascript">
    document.querySelector('input[type="file"]').onchange = function(e) {
      id3(this.files[0], function(err, tags) {
        console.log(tags)  // tags now contains your ID3 tags 
        var arrayBufferView = new Uint8Array(tags.v2.image.data);
        var blob = new Blob([arrayBufferView],{type:"image/jpeg"});
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(blob);
        var img = document.querySelector("#coverArt");
        img.src = imageUrl;


    });
}
</script>
</head>
<body>
<div class="container">
  <input type="file" id="input" multiple onchange="handleFiles(this.files)">
  <img id="coverArt"/>
<form action="/song/upload" enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="songUpload">Upload Mp3</label>
    <input type="file" id="songUpload" name="songMP3">
    <p class="help-block">File cannot exceed 10 MBs</p>
  </div>
  <fieldset>
  <!-- Form Name -->
  <legend>Address Details</legend>
  <!-- Text input-->
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 1</label>
  <div class="col-sm-10">
  <input type="text" placeholder="Address Line 1" class="form-control">
  </div>
  </div>

  <!-- Text input-->
 <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Line 2</label>
 <div class="col-sm-10">
  <input type="text" placeholder="Address Line 2" class="form-control">
 </div>
 </div>

 <!-- Text input-->
  <div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">City</label>
  <div class="col-sm-10">
 <input type="text" placeholder="City" class="form-control">
  </div>
  </div>
<!-- Text input-->
<div class="form-group">
 <label class="col-sm-2 control-label" for="textinput">State</label>
<div class="col-sm-4">
<input type="text" placeholder="State" class="form-control">
</div>
<label class="col-sm-2 control-label" for="textinput">Postcode</label>
<div class="col-sm-4">
<input type="text" placeholder="Post Code" class="form-control">
</div>
</div>
<!-- Text input-->
<div class="form-group">
<label class="col-sm-2 control-label" for="textinput">Country</label>
<div class="col-sm-10">
<input type="text" placeholder="Country" class="form-control">
</div>
</div>
<div class="form-group">
<div class="col-sm-offset-2 col-sm-10">
<div class="pull-right">
<button type="submit" class="btn btn-default">Cancel</button>
<button type="submit" class="btn btn-primary">Save</button>
</div>
</div>
</div>
</fieldset>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</body>