<html>
<head>

</head>
<body>
<div class="container">
  <div id="songInput">
    <form enctype="multipart/form-data">
    <input type="file" id="fileupload" name="files[]" multiple>
  </form>
  </div>
  <div id="songDetails">
    <table id="songDetailTable">
      <thead>
        <th>Cover</th><th>Details</th><th>Progress</th>
      </thead>
    </table>
</div> <!--songDetails-->

</div>
</body>