<html>
<head>

    <script src="../views/js/id3.min.js"></script>
    <script src="../views/js/musicmetadata.js"></script>
    <script src="../views/js/songpuller.js"></script>
</head>
<body>
<div class="container">
  <div id="songInput">
    <form enctype="multipart/form-data">
    <input type="file" id="fileupload" name="files[]" multiple>
  </form>
  </div>
  <div id="songDetails">
    <table id="songDetailTable">
      <thead>
        <th>Cover</th><th>Details</th><th>Progress</th><th>MusicBrainz</th><th>Echonest</th>
      </thead>
    </table>
</div> <!--songDetails-->

</div>
</body>