<html>
<head>

</head>
<body>
<div class="container">
  <div id="songInput">
    <input type="file" id="input">
  </div>
  <div id="songDetails">
    <table id="songDetailTable">
      <thead>
        <th>Cover</th><th>Details</th><th>Progress</th>
      </thead>
    </table>
</div> <!--songDetails-->

</div>
</body>